{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
				<div class="row">
					<div class="col-xl-12 col-md-6 mb-4">
						<div class="row align-items-center">
							<div class="col">
								<h2>Meus grupos</h2>
							</div>
							
							<div class="col d-flex flex-row-reverse bd-highlight">
								
							</div>
						</div>
						<p>{{ criacao_grupo }}</p>
					</div>
				</div>
		<div class="context-card">
			{% for grupos_usuario in grupos: %} 
				<div class="row">
					<!-- Earnings (Monthly) Card Example -->
					
            <div class="col-xl-12 col-md-12 mb-4">
              <div class="card border-left-danger shadow h-100 py-2" id="grupo-list">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                        <p class="">{{ grupos_usuario['NOME_DO_GRUPO']}}</p>
                        
                      </div>
                      <!--<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
                    </div>
                    <div class="col-auto"> 
                        <a href="{{ url_for('vincular_usuario', id_grupo=grupos_usuario['ID_GRUPO']) }}" type="submit" id="id_grupo" data-toggle="tooltip" title="vincular Usuários"><i class="fas fa-exchange fa-2x text-gray-300"></i></a>
                    </div>
                  </div>
                </div>
              </div>
          </div>
		  </div>
		{% endfor %}

		<!-- -->		
		</div>
		
{% endblock %}

<style type="text/css">

.grupo p{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase ;
}
</style>
<script>
	$(document).ready(function(){
	  $('[data-toggle="tooltip"]').tooltip();   
	});
</script>
