{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
				<div class="row">
					<div class="col-xl-12 col-md-6 mb-4">
						{% for message in get_flashed_messages() %}
						<p class="aler alert-danger block text-center">{{ message }}</p>
						{% endfor %}
						<div class="row align-items-center">
							<div class="col">
								<h2>Meus grupos</h2>
							</div>
							
							<div class="col d-flex flex-row-reverse bd-highlight">
								{% if session['FL_ADMINISTRADOR'] == True %}
									<a href="#" type="submit" class="btn btn-warning" data-toggle="modal" data-target="#myModal-1"> Criar Grupos</a>
								{% else %}
									{{ super() }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
		<div class="context-card">
			{% for grupos_usuario in list_grupos_usuario: %} 
				<div class="row">
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="card border-left-success shadow h-100 py-2" id="grupo-list">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
											<p class="">{{ grupos_usuario['NOME_DO_GRUPO']}}</p>
										</div>
										<!--<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
									</div>
									<div class="col-auto">
										<a href="{{ url_for('listar_relatorios', id_grupo=grupos_usuario['ID_GRUPO']) }}"><i class="fas fa-eye fa-2x text-gray-300"></i></a>
										
										{% if session['FL_ADMINISTRADOR'] == True %}
											<a href="{{ url_for('editar_grupo', id=grupos_usuario['ID_GRUPO']) }}" type="submit" id="id_grupo"><i class="fas fa-edit fa-2x text-gray-300"></i></a>
										{% else %}
											{{ super() }}
										{% endif %}

										
										
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
		{% endfor %}

		<!-- -->		
		</div>
		<!-- MODAL CRIAR GRUPO-->
		<div class="modal fade" id="myModal-1">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="p-3" >
				  <h4 class="modal-title">Criar Novo Grupo</h4>
				</div>
				<form class="user"  method="post">
				<div class="modal-body">
					<div class="form-group align-items-center d-flex flex-column">
						<input type="text" name="grupo" id="grupo" class="form-control form-control-user"
							id="exampleInputText" placeholder="Equipe Financeira" required>
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-betwen flex-row ">
				  
				  <button class="btn btn-dark small btn-user btn-block"  type="submit">Criar Grupo</button>
				</div>
				</form>
				
			  </div>
			</div>
		  </div>  
{% endblock %}

<style type="text/css">

.grupo p{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase ;
}
</style>
