{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
				<div class="row">
					<div class="col-xl-12 col-md-6 mb-4">
						<div class="row align-items-center">
							<div class="col">
								<h2>Meus grupos</h2>
							</div>
							
							<div class="col d-flex flex-row-reverse bd-highlight">
								{% if session['FL_ADMINISTRADOR'] == True %}
									<a href="#" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal-1"> Criar Grupos</a>
								{% else %}
									{{ super() }}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
		<div class="context-card">
			{% for grupos_usuario in list_grupos_usuario: %} 
				<div class="row">
					<!-- Earnings (Monthly) Card Example -->
					<div class="col-xl-12 col-md-12 mb-4">
						<div class="card border-left-primary shadow h-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col mr-2">
										<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
											<p>{{ grupos_usuario['NOME_DO_GRUPO']}}</p>
										</div>
										<!--<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>-->
									</div>
									<div class="col-auto">
										<a href="{{ url_for('listar_relatorios', id_grupo=grupos_usuario['ID_GRUPO']) }}"><i class="fas fa-eye fa-2x text-primary-300"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			{% endfor %}

			<!-- -->		
		</div>

		<div class="modal fade" id="myModal-1">
			<div class="modal-dialog">
			  <div class="modal-content">
				<div class="p-3" >
				  <h4 class="modal-title">Criar Novo Grupo</h4>
				</div>
				<form class="user" action="{{ url_for('') }}" method="post">
				<div class="modal-body">
					<div class="form-group align-items-center d-flex flex-column">
						<input type="text" name="" name="" id="grupo" class="form-control form-control-user"
							id="exampleInputText" placeholder="Equipe Financeira">
					</div>
				</div>
				<div class="modal-footer d-flex justify-content-betwen flex-row ">
				  <a href="#" type="button" class="btn btn-primary small" data-bs-dismiss="modal">Cancelar</a>
				  <a href="#" type="button" class="btn btn-success  small" data-bs-dismiss="modal">Criar Grupo</a>
				</div>
				</form>
			  </div>
			</div>
		  </div>
		  
		
{% endblock %}

<style type="text/css">

.grupo p{
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase ;
}
</style>

<script>
	$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>
