{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}

		




<div class="card o-hidden border-0 shadow-lg  p-0">
    <div class="card-header">
        <h2>Editar o usuario: <span>{{account['NOME_USUARIO'] }}</span></h2>
    </div>
  <div class="card-body ">
    <form class="user" action="" method="post" autocomplete="off">
      <!--ORGANIZAÇÃO -->
      <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="nome"
              name="nome" placeholder="Nome Completo" value="{{account['NOME_USUARIO']}}">
          </div>
          <div class="col-sm-6">
              <input type="text" class="form-control form-control-user" id="login"
              name="login" placeholder="login" value="{{account['DS_LOGIN']}}">
          </div>
      </div>
      <!-- DADOS -->
      <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="text" class="form-control form-control-user" id="telefone"
              name="telefone" placeholder="(01) 0000-0000" value="{{account['DS_TELEFONE']}}">
          </div>
          <div class="col-sm-6">
              <input type="email" class="form-control form-control-user" id="email"
              name="email" placeholder="exemplo@email.com" value="{{ account['DS_EMAIL']}}">
          </div>
      </div>
      <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0">
              <input type="password" class="form-control form-control-user"
                  id="senha"  name="senha" placeholder="senha..." value="{{ account['DS_SENHA'] }}">
          </div>
          <div class="col-sm-6">
              <input type="password" name="confirmar_senha" class="form-control form-control-user"
                  id="confirmar_senha" placeholder="Confirmar senha  ..." value="{{ account['DS_SENHA'] }}">
          </div>
      </div>
      <div class="custom-control custom-switch mb-3">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" name="FL_ADMINISTRADOR" value="1">
        <label class="custom-control-label" for="customSwitch1">Administrador</label>
      </div>
  <button class="btn btn-success small btn-user btn-block " type="submit" type="submit">Salvar</button>
      <code class="aling-center">{{msg}}</code>
  </form>
  </div>
</div>
<style>
.usuario_adm, .usuario_view{
    display: flex;
  }
 .usuario_adm span{
  background-color: #abf7b9;
  width: 100%;
  border-radius: 5px;
  padding: 2px 5px;
}
.usuario_view span{
  background-color: #fc799757;
  width: 100%;
  border-radius: 5px;
  padding: 2px 5px;
}
code{
    text-align: center;
}
span{
    font-weight: bold;
}
</style>
{% endblock %}