{% extends 'layout.html' %}

{% block title %}Editar Grupo{% endblock %}

{% block content %}
<style>
    iframe{
        
        border: none !important;
    }
    .card-body{
        padding: 0 !important;
    }
    
    </style>
<div class="">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight text-black">{{ visualizar_relatorio['DS_NOME_RELATORIO']}}</h6>
                    
                    <div class="d-flex flex-row align-items-center justify-content-center">
                        <a  href="#">
                            <i class="fas fa-expand fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Menu de opções:</div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal-1">Enviar para e-mail</a>
                                {% if session['FL_ADMINISTRADOR'] == True %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ url_for('deletar_relatorio', id_relatorio=visualizar_relatorio['ID_RELATORIO'] )}}">Excluir Relatório</a>
                                        {% else %}
                                            {{ super() }}
                                        {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Card Body -->
                <div class="col-lg-12">
                    <div class="card-body">
                        <div class="ratio" style="height: 100vh; width: 100%; border: none">
                            <iframe src="{{ visualizar_relatorio['DS_LINK_RELATORIO'] }}" title="" width="100%" height="100%"></iframe>
                          </div>
                    </div>
                </div>
                <div class="card-footer py-3 d-flex">
                        
                </div>
            </div>
        
        </div>
    </div>
</div>
<! -- modal -->
<div class="modal fade" id="myModal-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="p-3" >
          <h5 class="modal-title text-center">Em Desenvolvimento</h5>
        </div>
        <!--<form class="user"  method="post">
        <div class="modal-body">
            <div class="form-group align-items-center d-flex flex-column">
                <input type="text" name="grupo" id="grupo" class="form-control form-control-user"
                    id="exampleInputText" placeholder="Equipe Financeira" required>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-betwen flex-row ">
          
          <button class="btn btn-dark small btn-user btn-block"  type="submit">Criar Grupo</button>
        </div> -->
        </form>
        
      </div>
    </div>
  </div>  

{% endblock %}

